<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">¿Cómo te encuentras hoy 💆?</mat-card-title>
        <hr>
    </mat-card-header>
    <mat-card-content class="centro">
        <div>
            <p></p>
            <p class="izq">😞</p>
            <p class="der">😁</p>
            <div>
                <mat-slider>
                    <input value="50" matSliderThumb>
                </mat-slider>
            </div>
        </div>

        <button mat-stroked-button (click)="openWidgetGuardado()">
            Añadir Widget 💾
        </button>
    </mat-card-content>
</mat-card>