<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">Widget 4</mat-card-title>
    </mat-card-header>
    <mat-card-content class="centro">
        <div>
            <p>¿Cómo te sientes hoy?</p>
            <p class="izq">Mal</p>
            <p class="der">Bien</p>
            <div>
                <mat-slider>
                    <input value="50" matSliderThumb>
                </mat-slider>
            </div>
        </div>


        <button mat-stroked-button (click)="openWidgetGuardado()">

            Añadir Widget
        </button>
    </mat-card-content>
</mat-card>