.centro {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.medio {
    text-align: center;
}

.mat-mdc-card-header {
    display: block;
}

.der {
    float: inline-end;
    font-size: 30px;
}

.izq {
    float: inline-start;
    font-size: 30px;
}

.ancho {
    width: 400px;
}

mat-slider {
    margin-top: -10px;
    width: 300px;
}