<!-- Para poder crear las tarjetas usamos el componente mat-card, con su respectivo header para el título y el content para el widget -->
<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">Cronómetro ⌚</mat-card-title>
        <hr>
    </mat-card-header>
    <mat-card-content class="centro">

        <!-- Para poder crear el cronometro, usaremos una forma similar al reloj, recogiendo la hora del TypeScript y crearemos unos botones para las funciones del cronometro -->
        <div class="cronometro">
            <p class="tiempo reloj">{{ formatTime(time) }}</p>
            <button class="esp" mat-stroked-button (click)="startTimer()">Iniciar</button>
            <button class="esp" mat-stroked-button (click)="stopTimer()">Detener</button>
            <button class="esp" mat-stroked-button (click)="resetTimer()">Reiniciar</button>
        </div>

        <!-- Por último, añadimos un botón para realizar la función de guardado -->
        <button mat-stroked-button (click)="openWidgetGuardado()">
            Añadir Widget 💾
        </button>
    </mat-card-content>
</mat-card>