<div class="rowhead header">
  <h3 class="centro">Tienda de Widgets en Angular</h3>
  <img matChipAvatar src="https://upload.wikimedia.org/wikipedia/commons/c/cf/Angular_full_color_logo.svg"
    alt="Angular logo" />
</div>
<hr>
<div class="row">
  <app-widget2> app-widget2 </app-widget2>
  <app-widget1> app-widget1 </app-widget1>
  <app-widget3> app-widget3 </app-widget3>
</div>
<div class="row">
  <app-widget7> app-widget7 </app-widget7>
  <app-widget4> app-widget4 </app-widget4>
  <app-widget5> app-widget5 </app-widget5>
</div>
<div class="row">
  <app-widget6> app-widget6 </app-widget6>
  <app-widget8> app-widget8 </app-widget8>

</div>
<div class="row">

</div>
<div class="row footer">
  <h5 class="centroDown">Carlos Maranhas Gómez-Choco S2DAW</h5>
</div>