<!-- Para poder crear las tarjetas usamos el componente mat-card, con su respectivo header para el título y el content para el widget -->
<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">Reloj ⏳</mat-card-title>
        <hr>
    </mat-card-header>
    <mat-card-content class="centro">

        <!-- Para poder insertar el reloj, no hay un componente que nos lo facilite en la librería de Angular Materials, por lo que procedemos a crearlo nosotros -->
        <div class="reloj">
            <div class="tiempo">
                <span>{{hour}}</span>
            </div>
        </div>

        <!-- Por último, añadimos un botón para realizar la función de guardado -->
        <button mat-stroked-button (click)="openWidgetGuardado()">
            Añadir Widget 💾
        </button>
    </mat-card-content>
</mat-card>