<!-- Para poder crear las tarjetas usamos el componente mat-card, con su respectivo header para el título y el content para el widget -->
<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">Rutina Mañanera 🌞</mat-card-title>
        <hr>
    </mat-card-header>
    <mat-card-content class="centro">
        <div class="izq">
            <!-- Aqui indicamos el componente mat-selection-list, que se encarga de recoger los datos del archivo TypeScript y crear la lista con tantas opciones como datos tenga el archivo -->
            <mat-selection-list #acciones>
                @for (accion of rutina; track accion) {
                <mat-list-option>{{accion}}</mat-list-option>
                }
            </mat-selection-list>
        </div>

        <!-- Por último, añadimos un botón para realizar la función de guardado -->
        <button mat-stroked-button (click)="openWidgetGuardado()">
            Añadir Widget 💾
        </button>
    </mat-card-content>
</mat-card>