<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">Widget 3</mat-card-title>
    </mat-card-header>
    <mat-card-content class="centro">
        <div>
            <mat-selection-list #comidas>
                @for (comida of tiposDeComidas; track comida) {
                <mat-list-option>{{comida}}</mat-list-option>
                }
            </mat-selection-list>

            <p>
                Comidas Realizadas: {{comidas.selectedOptions.selected.length}}
            </p>
        </div>

        <button mat-stroked-button (click)="openWidgetGuardado()">
            Añadir Widget
        </button>
    </mat-card-content>
</mat-card>