<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">Widget 7</mat-card-title>
    </mat-card-header>
    <mat-card-content class="centro">
        <div class="izq esp">
            <p><mat-slide-toggle>WiFi</mat-slide-toggle></p>
            <p><mat-slide-toggle>Datos Móviles</mat-slide-toggle></p>
            <p><mat-slide-toggle>Bluetooth</mat-slide-toggle></p>
            <p><mat-slide-toggle color="warn">Ahorro de batería</mat-slide-toggle></p>
        </div>

        <button mat-stroked-button (click)="openWidgetGuardado()">
            Añadir Widget
        </button>
    </mat-card-content>
</mat-card>