<mat-card>
    <mat-card-header>
        <mat-card-title class="medio">Centro de Control 💻</mat-card-title>
        <hr>
    </mat-card-header>
    <mat-card-content>
        <div class="izq esp">
            <p><mat-slide-toggle>WiFi 🛜</mat-slide-toggle></p>
            <p><mat-slide-toggle>Datos Móviles 📶</mat-slide-toggle></p>
            <p><mat-slide-toggle>Bluetooth 🌐</mat-slide-toggle></p>
            <p><mat-slide-toggle color="warn">Ahorro de batería 🪫</mat-slide-toggle></p>
        </div>

        <div class="but">
            <button mat-stroked-button (click)="openWidgetGuardado()">
                Añadir Widget 💾
            </button>
        </div>
    </mat-card-content>
</mat-card>